In [2]:
"""
Benchmark link : https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/JMFHTN

"""

import re
import os
import pickle
import pandas as pd
import numpy as np

def save_obj(obj, name ,overwrite=1):
	filename='data/'+ name + '.pkl';
	if(overwrite==1 and os.path.exists(name)):
		return [];
	with open(filename, 'wb') as f:
		pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name):
	filename='data/'+ name + '.pkl';
	# if(not os.path.exists(name)):
	# 	return [];
	with open('data/' + name + '.pkl', 'rb') as f:
		return pickle.load(f)

seq_records =pd.read_table("./data/uniprot-all.tab.gz", sep='\t')

In [3]:
i=1
num_recs=40
print(seq_records.describe())
col = 'Protein families'
value_counts = seq_records[col].value_counts()
to_remove = value_counts[value_counts <= 200].index
filtered = seq_records[col].replace(to_remove, np.nan, inplace=False)
filtered.describe()
seq_records.groupby(['Protein families'], as_index=False).describe()

         Entry  Entry name                                Sequence  \
count   554860      554860                                  554860
unique  554860      554860                                  467231
top     Q48C94  SURE_NOSS1  MTQSNPNEQNVELNRTSLYWGLLLIFVLAVLFSNYFFN
freq         1           1                                     114

                                 Protein families
count                                      497618
unique                                      11736
top     Class-II aminoacyl-tRNA synthetase family
freq                                         3729

               Entry   Entry name  \
0     count      142          142
      unique     142          142
      top     Q93MW7  GLIP1_ARATH
      freq         1            1
1     count        6            6
      unique       6            6
      top     Q503L4     IAH1_RAT
      freq         1            1
2     count        6            6
      unique       6            6
      top     O54728     PLB1_RAT
      freq         1            1
3     count       12           12
      unique      12           12
      top     P68402    PA1B2_RAT
      freq         1            1
4     count       97           97
      unique      97           97
      top     B7MDZ8   LIP2_MORS1
      freq         1            1
5     count      107          107
      unique     107          107
      top     O50655   Y4GC_SINFN
      freq         1            1
6     count        7            7
      unique       7            7
      top     O26979   XERA_SULSO
      freq         1            1
7     count      199          199
      unique     199          199
...              ...          ...
11728 top     B7UGB3   ZIPA_AZOVD
      freq         1            1
11729 count        8            8
      unique       8            8
      top     Q6Q2W4  ZPBP1_MOUSE
      freq         1            1
11730 count        9            9
      unique       9            9
      top     P0AAA9   ZRAP_ECOLI
      freq         1            1
11731 count       11           11
      unique      11           11
      top     Q3UFS0  ZY11B_MOUSE
      freq         1            1
11732 count        6            6
      unique       6            6
      top     Q9UHY8   FEZ2_HUMAN
      freq         1            1
11733 count       27           27
      unique      27           27
      top     Q8BFW7  LIMD1_XENTR
      freq         1            1
11734 count       40           40
      unique      40           40
      top     E7FHC4   VHUU_METMP
      freq         1            1
11735 count       36           36
      unique      36           36
      top     Q58591   PHSS_DESBA
      freq         1            1

                                                       Sequence  \
0     count                                                 142
      unique                                                138
      top     MKIQILLFALVLIFVEANAATQGKNTTIPALIVFGDSIMDTGNNNN...
      freq                                                    3
1     count                                                   6
      unique                                                  6
      top     MALCEAAGCGSALLWPRLLLFGDSITQFSFQQGGWGASLADRLVRK...
      freq                                                    1
2     count                                                   6
      unique                                                  6
      top     MRLQPSLLLLALLLLKVTTIQATLGNNSWEEQTWPEGLKNFPFPCR...
      freq                                                    1
3     count                                                  12
      unique                                                  9
      top     MSQGDSNPAAIPHAAEDIQGDDRWMSQHNRFVLDCKDKEPDVLFVG...
      freq                                                    3
4     count                                                  97
      unique                                                 84
      top     MKPENKLPVLDLISAEMKTVVNTLQPDLPPWPATGTIAEQRQYYTL...
      freq                                                    5
5     count                                                 107
      unique                                                 94
      top     MNASSKRKIISQSEISKKIAVMNEEMQGFWANNSWDIRKCPHPSAI...
      freq                                                    3
6     count                                                   7
      unique                                                  7
      top     MVDTMNMKRESEERQGLLERYNFPELIEDYLIELEIRNYSPNTIKT...
      freq                                                    1
7     count                                                 199
      unique                                                145
...                                                         ...
11728 top     MMQDLRLILIVVGAIAIIALLLHGLWTSRKERSSLFRDRPVKRTKQ...
      freq                                                    8
11729 count                                                   8
      unique                                                  8
      top     MEAFALGPARRGRRRTRAAGSLLSRAAILLFISAFLVRVPSSVGHL...
      freq                                                    1
11730 count                                                   9
      unique                                                  6
      top     MKRNNKSAIALIALSLLALSSGAAFAGHHWGNNDGMWQQGGSPLTT...
      freq                                                    3
11731 count                                                  11
      unique                                                 11
      top     MVHFLHPGHTPRNIVPPDAQKDALGCCVVQEEASPYTLVNICLNVL...
      freq                                                    1
11732 count                                                   6
      unique                                                  6
      top     MEAPLVSLDEEFEDLRPSCSEDPEEKPQCFYGSSPHHLEDPSLSEL...
      freq                                                    1
11733 count                                                  27
      unique                                                 27
      top     MASPGTPGTRMTTTVSINISTPSFYNPQKKFAPVVAPKPKVNPFKT...
      freq                                                    1
11734 count                                                  40
      unique                                                 37
      top     MSQRITIDPVTRIEGHLRIDCEIENGVVSKAWASGTMWRGMEEIVK...
      freq                                                    3
11735 count                                                  36
      unique                                                 33
      top     MTGDNTLIHSHGINRRDFMKLCAALAATMGLSSKAAAEMAESVTNP...
      freq                                                    3

                                               Protein families
0     count                                                 142
      unique                                                  1
      top                        'GDSL' lipolytic enzyme family
      freq                                                  142
1     count                                                   6
      unique                                                  1
      top        'GDSL' lipolytic enzyme family, IAH1 subfamily
      freq                                                    6
2     count                                                   6
      unique                                                  1
      top     'GDSL' lipolytic enzyme family, Phospholipase ...
      freq                                                    6
3     count                                                  12
      unique                                                  1
      top     'GDSL' lipolytic enzyme family, Platelet-activ...
      freq                                                   12
4     count                                                  97
      unique                                                  1
      top                        'GDXG' lipolytic enzyme family
      freq                                                   97
5     count                                                 107
      unique                                                  1
      top                              'phage' integrase family
      freq                                                  107
6     count                                                   7
      unique                                                  1
      top              'phage' integrase family, XerA subfamily
      freq                                                    7
7     count                                                 199
      unique                                                  1
...                                                         ...
11728 top                                           ZipA family
      freq                                                  128
11729 count                                                   8
      unique                                                  1
      top            Zona pellucida-binding protein Sp38 family
      freq                                                    8
11730 count                                                   9
      unique                                                  1
      top                                           ZraP family
      freq                                                    9
11731 count                                                  11
      unique                                                  1
      top                                         Zyg-11 family
      freq                                                   11
11732 count                                                   6
      unique                                                  1
      top                                          Zygin family
      freq                                                    6
11733 count                                                  27
      unique                                                  1
      top                                    Zyxin/ajuba family
      freq                                                   27
11734 count                                                  40
      unique                                                  1
      top      [NiFe]/[NiFeSe] hydrogenase large subunit family
      freq                                                   40
11735 count                                                  36
      unique                                                  1
      top      [NiFe]/[NiFeSe] hydrogenase small subunit family
      freq                                                   36

[46944 rows x 4 columns]

In [7]:
import tensorflow as tf
from tensorflow.contrib import rnn

In [ ]:
class myLSTM():
    def __init__(self,alpha,num_classes=8,mval=0.5):
#         All main code here
        num_features=42
#         init  Weights
        self.alpha=alpha
        self.weights = tf.Variable(tf.random_uniform(),minval=-mval,maxval=mval)
#         init  X & Y
        shapeX=[None,seqLen,num_features]
        shapeY=[None,seqLen,num_classses]
        self.pholder_x= tf.place_holder('float',shapeX)
        self.pholder_y= tf.place_holder('float',shapeY)
        
        #Now make model here -
        self.cell1 = rnn.LSTMCell(num_hidden_units)
        
        
        self.y_
        self.loss_fn = tf.nn.softmax_cross_entropy_with_logits(logits=self.y_,labels=y)
        self.trainer = tf.train.GradientDescentOptimizer(alpha).minimize(self.loss_fn)
        self.sess = tf.Session()
#         So, all declared now initialize
        tf.global_variables_initializer().run()


    def  train(self,x,y):
#         first arg to sess.run is what component shoud run.
        trainer = self.sess.run(self.trainer,feed_dict={ self.pholder_x :x ,self.pholder_y:y })
        return trainer